/* Conteúdo */

.content {
    max-width: 90%;
    margin: 0 auto;
}

.content > up {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.up > h1 {
    margin-top: 180px;
    color: #03045E;
    width: auto;
    text-align: center;
    font-size: 3.2rem;
}

.up > p {
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 100px;
}

.content > down {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.down {
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-content: center;
}

.down > a {
    margin-right: 20px;
    flex-grow: 0;
}

.down > a:nth-last-of-type(1) {
    margin-right: 0;
}

.down > a > img {
    max-width: 14vw;
}

.down > a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.down:hover > .calc-function:not(:hover) {
    filter: blur(1px)
}

@media (max-width: 650px) {
    .up > h1 {
        margin-top: 180px;
        color: #03045E;
        width: auto;
        text-align: center;
        font-size: 2.8rem;
    }

    .up > p {
        color: rgba(0, 0, 0, 0.65);
        text-align: center;
        font-size: 1.8rem;
        margin-top: 15px;
        margin-bottom: 100px;
    }

    .down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .down > a {
        margin: 5px 0;
        flex-grow: 0;
    }

    .down > a > img {
        max-width: 28vw;
    }
}

@media (max-width: 450px) {
    .up > h1 {
        margin-top: 180px;
        color: #03045E;
        width: auto;
        text-align: center;
        font-size: 2.5rem;
    }

    .up > p {
        color: rgba(0, 0, 0, 0.65);
        text-align: center;
        font-size: 1.6rem;
        margin-top: 15px;
        margin-bottom: 100px;
    }

    .down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .down > a {
        margin: 5px 0;
        flex-grow: 0;
    }

    .down > a > img {
        max-width: 48vw;
    }
}

@media (min-height: 800px) {
    .content {
        height: 100vh;
    }

    .up > h1 {
        margin-top: 30vh;
    }

    .down {
        margin: 25vh 10px;
    }
}