* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

/* Barra de navegação */

.container {
    background-color: #fffffa;
    width: 100%;
    max-height: 76px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.nav-container { 
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    max-height: 76px;
    justify-content: space-between;
    align-items: center;
}

.logo > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > a > p {
    font-size: 28px;
    color: #00b4d8;
    margin-left: 10px;
}

.logo > a > img {
    max-width: 46px;
    max-height: auto;
}

.menu-itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.menu-itens > a {
    margin-right: 60px;
    color: #000000;
}

.menu-itens > a:nth-last-of-type(1) {
    margin: 0;
}

.menu-itens > a:hover {
    color: #00b4d8;
}